:root {
  --color-main: orange;
  --color-gray: #555555;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 48px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navigation {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/main_small.jpg");
  background-size: cover; /* Масштабує зображення, щоб воно покрило весь елемент */
  background-repeat: no-repeat; /* Вимикає повторення зображення */
  background-position: center; /* Розміщує зображення по центру */

  &__contact {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;

    &--underline {
      color: white;
      text-decoration: none;
    }
  }
}

.header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30vh;
}

.orange--button {
  background: var(--color-main);
  padding: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

h3 {
  color: #888888;
  font-weight: 400;
}

h5 {
  text-transform: uppercase;
  color: #888888;
}


.about {
  position: relative;
  display: flex;
  gap: 60px;
  margin-top: 100px;

  &__photo--block {
    position: absolute;
    top: 480px;
    left: -10px;
    width: 150px;
    height: 150px;
    background-color: var(--color-main);
    clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 0 100%);
    color: white;
    text-align: center;

    &_exp {
      font-size: 40px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
    }
  }

  &__photo__img {
    height: 580px;
    width: auto;
    clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 0 100%);
    object-fit: cover;
    margin-left: 50px;
  }

  @media (max-width: 1000px) {
    &__photo__img, &__photo--block {
      display: none;
    }
  }

  &__info {
    &__contact {
      display: flex;
      gap: 20px;
    }

    &__header {
      text-transform: uppercase;
    }

    &--orange {
      color: var(--color-main);
    }

    &__phone {
      position: relative;
      width: 60px;
      height: 60px;
      background-color: var(--color-main);
      border-radius: 50%;
      font-size: 30px;


      &__icon {
        position: absolute;
        left: 15px;
        top: 11px;
      }

      &__number__div {
        padding-top: 15px;
      }

      &__number {
        color: black;
        padding-top: 10px;
      }
    }
  }
}


.no-bullets {
  list-style-type: none;
}

@media screen and (max-width: 1200px) {
  .about {
    flex-wrap: wrap;
  }
}


.call {
  margin-top: 100px;
  padding-bottom: 60px;
  min-height: 400px;
  width: 100%;
  background-color: var(--color-main);

  &__header {
    text-align: center;
    font-size: 2rem;
  }

  &__subheader {
    text-align: center;
  }
}

.subtitle__center {
  text-align: center;
  padding-top: 80px;
  margin: 0;
  color: white;

  &--gray {
    color: #888888;
  }
}


//Advantages
.advantages {
  min-height: 100vh;

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__contact {
    font-weight: 600;
    text-align: center;
    margin-top: 40px;

    &--orange {
      color: var(--color-main);
    }
  }
}

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 400px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 11px 14px 10px -10px rgba(129, 128, 128, 1);
  -moz-box-shadow: 11px 14px 10px -10px rgba(129, 128, 128, 1);
  box-shadow: 11px 14px 10px -10px rgba(129, 128, 128, 1);
  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 0 100%);


  &_1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 100%), url('/img/adv1.jpg');
  }


  &_2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%), url('/img/adv2.jpg');
  }

  &_3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%), url('/img/adv5.jpg');
  }

  &_4 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%), url('/img/adv4.jpg');
  }

  &_1:hover, &_2:hover, &_3:hover, &_4:hover {
    scale: 1.1;
  }

  &__title {
    color: white;
    font-size: 20px;
    text-align: center;

  }

  &__desc {
    color: white;
    padding: 15px;
  }

}

.product {
  display: flex;
  width: 100%;
  min-height: 70vh;
  box-sizing: border-box;
  background: var(--color-gray);

  &__photo {
    width: 100%;
    background-image: url('/img/014.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__info__desc {
    color: white;
  }
}

.subtitle__product {
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}


//Comfort


.comfort {
  margin-bottom: 80px;
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;

    &__icon {
      display: flex;
      justify-content: center;
      padding: 30px;
    }
  }

  &__finish__desc {
    margin-top: 40px;
  }
}

//Testimonials
.testimonials {
  min-height: 80vh;
  background-color: var(--color-main);
  padding-top: 80px;
  padding-bottom: 80px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #fcc368;
  padding: 30px;
  margin-right: 40px;

  &__header {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
  }

  &__author {
    display: flex;
    justify-content: flex-start;
    color: white;

    &__photo img {
      width: 30%;
      border: 4px var(--color-main) solid;
      border-radius: 50%;
    }
  }
}





